/*
    cover style sheet.
*/
body {
    font-family: -apple-system, 'PingFang SC', 'Microsoft YaHei';
    position: relative;
    padding-left: 420px;
}

p,h1,h2,h3,h4,h5,h6 {
    font-family: -apple-system, 'PingFang SC';
}

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 420px;
    padding: 40px 0;
    text-align: center;
    background-color: #F6F6F6;
    overflow: hidden;
}

.logo,
.menu {
    margin-top: 100px;
}

.logo .tagline {
    line-height: 1;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF;
}
.menu ul > li {
    display: block;
    margin-right: 0;
}

.menu ul:not(.sub-menu) > li > a {
    font-size: 20px;
    color: #999999;
}

.menu ul > li:hover > a {
    color: #3A7BF7;
}

.menu ul > li > a {
    padding: 20px;
    font-family: "Brandon";
    font-weight: 500 !important;
}

.menu ul li.current_page_item a {
    color: #3A7BF7;
    text-decoration: underline;
}

.comment img {
    width: 50px;
    height: 50px;
}

.gallery {
    background: #FFF;
}

.work figure .button:hover {
    background: rgba(44, 44, 44, 1) !important;
}

.menu li:hover>a {
    background-color: transparent;
    text-decoration: underline;
}

.auto-container {
    width: auto;
}

.post {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.blog-page .post .thumbnail {
    padding: 0;
    border: 0 none;
}

.post h3 {
    margin: 0;
    padding: 30px 0;
    border-bottom: 0 none;
}

.blog-page .post p {
    padding: 0 0 0 10px;
    line-height: 20px;
    border-left: 2px solid #3A7BF7;
    color: #999;
}

.blog-page .post .details {
    padding: 15px 0;
}

.blog-page .post .content h3 a {
    color: #333;
}

.page-numbers {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: -apple-system, 'PingFang SC', 'Microsoft YaHei';
    background-color: #F3F3F3;
}

.page-numbers.current {
    background-color: #3A7BF7;
}

@media screen and (max-width: 1440px) {
    body {
        padding-left: 360px;
    }

    #sidenav {
        width: 360px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-left: 220px;
    }

    #sidenav {
        width: 220px;
    }

    .logo img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-left: 0;
    }

    #sidenav {
        position: static;
        width: 100%;
        padding: 0;
    }

    .logo,
    .menu {
        margin-top: 0;
    }

    .logo .tagline {
        display: none !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .menu {
        top: 58px;
        right: 0;
        width: 100%;
    }
}