/*
    Spongebob style sheet.
*/
::-webkit-scrollbar  
{  
    width: 5px;
    height: 5px;
    background-color: #F3F3F3;  
}
  
::-webkit-scrollbar-thumb  
{  
    background-color: #888;
}

.yj-custom-link {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
}

.yj-custom-link ul {
    padding: 0;
}

.yj-custom-link li {
    display: inline-block;
}

.yj-custom-link li+li {
    margin-left: 15px;
}

.yj-custom-link li a,
.yj-custom-link li span {
    color: #888;
}

.yj-custom-link li a {
    border-bottom: 1px dotted #888;
}

.yj-custom-link li a:hover,
.yj-custom-link li a:hover span {
    color: #33AAEE;
    border-color: #33AAEE;
}

@media screen and (max-width: 768px) {
    .yj-custom-link {
        display: none;
    }
}