/*
    Spongebob style sheet.
*/
::-webkit-scrollbar  
{  
    width: 5px;
    height: 5px;
    background-color: #F3F3F3;  
}
  
::-webkit-scrollbar-thumb  
{  
    background-color: #888;
}

.yj-custom-link {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
}

.yj-custom-link ul {
    padding: 0;
}

.yj-custom-link li {
    display: inline-block;
}

.yj-custom-link li+li {
    margin-left: 20px;
}

.yj-custom-link li a,
.yj-custom-link li span {
    color: #888;
}

.yj-custom-link li a {
    border-bottom: 1px dotted #888;
}

.yj-custom-link li a:hover,
.yj-custom-link li a:hover span {
    color: #33AAEE;
    border-color: #33AAEE;
}

.yj-photo {
    height: 100px;
    width: 100px;
    padding: 4px;
    box-sizing: content-box;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
}

.yj-photo .photo-wrap {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 14px #CCC;
}

.yj-photo .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.yj-photo:hover .photo-wrap {
    box-shadow: 0 0 14px #F66214;
}

@media screen and (max-width: 1024px) {
    .yj-photo,
    .yj-photo .photo-wrap,
    .yj-photo .photo {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .yj-custom-link {
        display: none;
    }

    .yj-photo,
    .yj-photo .photo-wrap,
    .yj-photo .photo {
        width: 50px;
        height: 50px;
    }
}