/*
    Spongebob style sheet.
*/
@charset "UTF-8";

@font-face{
    font-family:'Brandon';
    src: url('../fonts/brandon/brandon_grotesque_regular-webfont.eot');
    src: url('../fonts/brandon/brandon_grotesque_regular-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/brandon/brandon_grotesque_regular-webfont.woff') format('woff'),
    url('../fonts/brandon/brandon_grotesque_regular-webfont.ttf') format('truetype'),
    url('../fonts/brandon/brandon_grotesque_regular-webfont.svg#SingleMaltaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Brandon';
    src: url('../fonts/brandon/brandon_grotesque_medium-webfont.eot');
    src: url('../fonts/brandon/brandon_grotesque_medium-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/brandon/brandon_grotesque_medium-webfont.woff') format('woff'),
    url('../fonts/brandon/brandon_grotesque_medium-webfont.ttf') format('truetype'),
    url('../fonts/brandon/brandon_grotesque_medium-webfont.svg#SingleMaltaRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family:'Brandon';
    src: url('../fonts/brandon/brandon_grotesque_bold-webfont.eot');
    src: url('../fonts/brandon/brandon_grotesque_bold-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/brandon/brandon_grotesque_bold-webfont.woff') format('woff'),
    url('../fonts/brandon/brandon_grotesque_bold-webfont.ttf') format('truetype'),
    url('../fonts/brandon/brandon_grotesque_bold-webfont.svg#SingleMaltaRegular') format('svg');
    font-weight: 700;
    font-style: normal;
}

::-webkit-scrollbar  
{  
    width: 5px;
    height: 5px;
    background-color: #F3F3F3;  
}
  
::-webkit-scrollbar-thumb  
{  
    background-color: #888;
}

.yj-custom-link {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
}

.yj-custom-link ul {
    padding: 0;
}

.yj-custom-link li {
    display: inline-block;
}

.yj-custom-link li+li {
    margin-left: 20px;
}

.yj-custom-link li a,
.yj-custom-link li span {
    color: #888;
}

.yj-custom-link li a {
    border-bottom: 1px dotted #888;
}

.yj-custom-link li a:hover,
.yj-custom-link li a:hover span {
    color: #33AAEE;
    border-color: #33AAEE;
}

.yj-photo {
    height: 100px;
    width: 100px;
    padding: 4px;
    box-sizing: content-box;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
}

.yj-photo .photo-wrap {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 14px #CCC;
}

.yj-photo .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.yj-photo:hover .photo-wrap {
    box-shadow: 0 0 14px #3A7BF7;
}

.yj-hi-page h3 {
    color: #666;
    margin: 0;
    padding: 30px 0 0;
    text-align: center;
    border-bottom: 0 none;
}

.yj-hi-page p {
    padding-top: 20px;
}

.yj-hi-page  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.yj-footer {
    position: fixed;
    left: 420px;
    bottom: 0;
    right: 0;
    padding: 30px 15px;
    background: transparent;
    z-index: 999;
}

.yj-footer .copyright {
    font-size: 12px;
    color: #AAA;
}

@media screen and (max-width: 1440px) {
    .yj-footer {
        left: 360px;
    }
}

@media screen and (max-width: 1024px) {
    .yj-photo,
    .yj-photo .photo-wrap,
    .yj-photo .photo {
        width: 80px;
        height: 80px;
    }

    .yj-footer {
        left: 220px;
    }
}

@media screen and (max-width: 768px) {
    .yj-custom-link {
        display: none;
    }

    .yj-photo,
    .yj-photo .photo-wrap,
    .yj-photo .photo {
        width: 50px;
        height: 50px;
    }

    .yj-footer {
        position: static;
    }
}