@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*------------------------------------------------------------------
[Table of contents]

1. Loader / #loader
2. Colors
3. Header / header
4. Home Slider / .home-slider
5. Home2
6. Gallery / .gallery
7. Footer / footer
8. Blog / .main
9. WP Widgets / .widget
10. Blog Post / .post-page
11. Work / .work-page
12. Contact / .contact-pageg
13. Archive / .archive
14. Countdown / #countdown
15. Shortcodes / .shortcode-page
16. Media Queries / @media
-------------------------------------------------------------------*/


p{
	font-family: "Open Sans";
}

span{
	color:#49b4ff;
}

iframe{
	border:none;
}

h3{
	font-weight: 400;
	color:#2a2a2a;
	text-transform: uppercase;
}

img{
	max-width: 100%;
	height:auto;
}

.moretag{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
}

.wp-audio-shortcode{
	width:auto !important;
}
embed{
	width: 100%;
}

.blog-page embed {
	height: 100%;
}

.post-page .content cite,
.post-page .comment cite,
.default-page .content cite,
.default-page .comment cite{
	padding-top: 10px;
  	font-size: 13px;
  	color: #555;
}

.must-log-in{
	padding-bottom: 30px;
}

/**********************
******1. Loader****
**********************/

#loader{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:#fff;
	z-index: 200;
	text-align: center;
}

#loader img{
	margin: 20% auto;
}

/**********************
******2. Colors*****
**********************/

.color-red{
	background-color: #e12727;
}

.color-blue{
	background-color: #49b4ff;
}

.color-violet{
	background-color: #7c90ec;
}

.color-yellow{
	background-color: #ffa810;
}

.color-gray{
	background-color: #aaaaaa;
}

.color-green{
	background-color: #00c012;
}

.color-beige{
	background-color: #d1b68f;
}

.color-facebook{
	background-color: #486fb0;
}

.color-twitter{
	background-color: #5cb5e8;
}

.color-youtube{
	background-color: #ea5932;
}

.color-gplus{
	background-color: #DD4B39;
}

/**********************
******3. Header*****
**********************/

header{
	padding-top: 10px;
	text-align: center;
}

.logo{
	display: inline-block;
}

.logo h1{
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	text-transform: none;
	font-style: normal;
	font-size: 30px;
	line-height: 1em;
	letter-spacing: 1;
	color:#333;
	background-color: #fff;
	padding: 40px;
}

.logo .tagline{
	cursor: default;
	margin-top: 10px;
	font-family: 'Open Sans';
	font-weight: normal;
	text-transform: none;
	font-style: normal;
	font-size: 16px;
	line-height: 0.6em;
	letter-spacing: -1;
	color: #333;

}

#responsive-menu-button{
	color:#aaa;
	display: none;
	width: 30px;
	height: 30px;
	margin: 20px auto -10px;
}

.menu{
	display: block;
}

.menu ul > li{
	margin-right: -4px;
}

.menu li>a{
	display: block;
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 700;
	color:#444;
	padding: 13px 18px;
	text-transform: uppercase;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.menu li:hover>a{
	color:#222;
	background-color: #eee;
}

.menu .menu-item-has-children:hover>.sub-menu{
	display: block;
}

.menu .sub-menu{
	display:none;
}

.menu .menu-item-has-children .menu-item-has-children>a:after{
	content:"\f0da";
	font-family: "FontAwesome";
	color:#aaa;
	font-size: 10px;
	position: absolute;
	left:90%;
	top:35%;
}

.menu .sub-menu:before{
	content:"\f0d8";
	font-family: "FontAwesome";
	color:#fff;
	font-size: 14px;
	position: absolute;
	left:49%;
	top:-13px;
}

.menu .sub-menu .sub-menu{
	position: absolute;
	top:0;
	left:150%;
}

.menu .sub-menu .sub-menu:before{
	content:none;
}

.sub-menu li{
	display: block;
	width: 100%;
}

.sub-menu li a{
	font-family: "Open Sans";
	font-size: 12px;
	color:#888;
	font-weight: 400;
	border-top: 1px solid #eee;
	text-transform: none;
}

.sub-menu li:first-child a{
	border-top: none;
}

.sub-menu>li:hover{
	color:#222;
	background-color: #eee;
}

.welcome{
	font-size: 14px;
	color:#555;
	padding: 0px 100px 20px;
	clear: both;
	font-family: 'Open Sans';
	font-weight: normal;
	text-transform: none;
	font-style: none;
	line-height: 1.1em;
	letter-spacing: 0;
}

#menu-button{
	color:#aaa;
	display: block;
	width:30px;
	height: 30px;
	margin: 0px auto 10px;
	position: relative;
	z-index: 10;
}

.filters:before{
	background-color: #49b4ff;
	height: 100%;
	width:0;
	position: absolute;
	top:0;
	left: 0;
	content: '';
	z-index: -1;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.filters ul{
	opacity: 0;
	position: relative;
	max-height: 0;
	


	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.filters li{
	display: none;
	cursor:pointer;
	font-size: 11px;
	font-family: "Montserrat";
	font-weight: 700;
	color:#fff;
	padding: 12px 15px;
	text-transform: uppercase;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.filters li:hover,
.filters li.active{
	background-color: rgba(255,255,255,0.3);
}

/**********************
******4. Home Slider*****
**********************/

.home-slider{
	position: relative;
}

.home-slider ul{
	padding-left: 0;
}

.home-slider img{
	width: 100%;
	height: auto;
}

.home-slider .controls{
	position: absolute;
	z-index: 100;
	top:50%;
	left:50%;
	margin-top: -40px;
	margin-left:-570px;
}

.home-slider .controls .prev a,
.home-slider .controls .next a{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width:80px;
	height: 80px;
}

.home-slider .controls .prev,
.home-slider .controls .next{
	cursor: pointer;
	position: relative;
	display: inline-block;
	width:80px;
	height: 80px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.home-slider .controls .prev:hover,
.home-slider .controls .next:hover{
	background-color: rgba(255,255,255,0.1);
}

.home-slider .controls .next{
	margin-left:980px;
}

/**********************
******5. Home2*****
**********************/

.gallery .filter-section{
	text-align: center;
	position: relative;
	z-index: 100;
	margin-top: -30px;
	margin-bottom: 30px;
}

.gallery .filter-section #menu-button{
	position: absolute;
	top:-40px;
	left: 50%;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	margin: 0 0 0-20px !important;
	background-color: #f9f9f9;
	box-shadow: inset 0 -5px 10px -6px rgba(0,0,0,0.4);
	z-index: 1000;
	
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}



/**********************
******6. Gallery*****
**********************/

.gallery{
	background-color: #eee;
	padding-top: 30px;
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}

.grid{
	padding: 0;
	margin: 0;
	list-style: none;
}

.work figure {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	border-radius: 3px;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.work .no-thumbnail{
	height:170px;
	background-color: #fff;
}
.work figure img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 3px;
}

.work figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 40px;
}

.work figcaption h3 {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.work figcaption .divider{
	width: 70px;
	height: 2px;
	margin:15px auto;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.1s;
	transition: opacity 0.1s, transform 0.1s;
}

.work figcaption p {
	padding:0 35px;
	color: #555;
	font-size: 13px;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.work figcaption h3,
.work figcaption p,
.work figcaption .divider {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.work figure .button {
	position: absolute;
	border: none;
	text-transform: uppercase;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s, background 0.1s;
	transition: opacity 0.2s, transform 0.2s, background 0.1s;
}

.work figcaption,
.work figcaption h3,
.work figcaption p,
.work figcaption .divider
.work figure .button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.work svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	left:0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.work svg path {
	fill: #fff;
}

.work:hover figcaption h3,
.work:hover figcaption p,
.work:hover figcaption .divider {
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}

.work:hover figcaption p,
.work:hover figcaption .divider {
	opacity: 0;
}

.work figcaption p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.work figure .button {
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	border-radius: 0 0 3px 3px;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.work:not(.work-post) figure .button {
	background: rgba(73,180,255,0.8);
	color: #fff;
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 12px;
}
.work.work-post figure .button{
	text-align: center;
	background-color: #fff;
}
.work.work-post figure .button:hover{
	background-color: #fff;
}
.work figure .button:hover {
	background: rgba(73,180,255,1);
}

.work figure .button i,
.btn i{
	margin-right: 10px;
	font-size: 14px;
}

 .work:hover figure .button {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

 .work figcaption h3, 
 .work figcaption p{
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
	timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

 .work:hover figcaption p{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.gallery .row:last-child,
.posts .row:last-child,
.archive-result #masonry .row:last-child{
 	text-align: center;
 	padding-bottom: 30px;
}
.default-page .posts .row:last-child{
	text-align: left;
}
.post-page .posts .row:last-child{
 	text-align: left;
 }

/**********************
******7. Footer*****
**********************/

footer{
	background-color: #444;
	padding:0px 0 0;
}

footer h6{
	margin-bottom: 15px;
}

footer .footer_bottom{
	background-color: #333;
	padding: 20px 0;
	text-align: center;
}

footer img{
	float:left;
}

.footer_bottom p{
	float: right;
	padding-top: 12px;
	color: #fff;
	font-size: 12px;
}

.footer_bottom h6{
	display: none;
}

.footer_bottom  .sidebar{
	display: inline-block;
}

.footer_bottom .widget_search{
	width:500px;
	margin:0 auto;	
}

.footer_bottom  .widget_search .form-control{
	background-color: rgba(238, 238, 238, 0.2);
	border-radius: 3px 0px 0px 3px;
}

.footer_bottom  .widget.widget_search .input-group-addon button{
	background-color: rgba(238, 238, 238, 0.2);
	border-radius: 0px 3px 3px 0px;
}

/**********************
******8. Blog*****
**********************/

.main{
 	background-color: #eee;
 	padding-top: 30px;
}
.page-numbers{
	display: inline-block;
	padding-top:12px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	font-size: 12px;
	color:#666;
	font-family: "Open Sans";
	border-radius: 3px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	text-align: center;
}

.comments #respond:nth-child(2) h3,
.comments #respond:nth-child(3) h3{
	padding-top: 30px;
}
.comments .page-numbers,
.post .page-numbers{
	background-color: #eee;
	box-shadow: none;
}
.post .content .pagination{
	clear: both;
	display: block;
	margin-bottom: 0;
}
.post .page-numbers{
	margin-right: 3px;
	clear: both;
}
.post .page-numbers span{
	color:#666;
}

.page-numbers:hover{
	background-color: #ddd;
}

.page-numbers.current{
	background-color: #49b4ff;
	color:#fff;
}

.post, aside{
	background-color: #fff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	margin-bottom: 30px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.blog-page #masonry .grid>li,
.gallery#masonry .grid>li,
.archive-result .grid>li{
	opacity: 0;
	-webkit-transition: opacity .5s;
	   -moz-transition: opacity .5s;
	    -ms-transition: opacity .5s;
	     -o-transition: opacity .5s;
	        transition: opacity .5s;

	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s ;
}
:root .blog-page #masonry .grid>li { opacity:1 \0/IE9; }  /* IE9 */
:root .gallery#masonry .grid>li { opacity:1 \0/IE9; }  /* IE9 */
#to-top{
	display: none;
}

.content,
.comments{
	position: relative;
	z-index: 10;
	padding: 0 30px 30px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	margin-bottom: 30px;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius:  0 0 3px 3px;
	border-radius:  0 0 3px 3px;
}

.comments{
	padding-bottom: 0;
}

.content:first-child,
.comments{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:  3px;
}

.post .content{
	box-shadow:none;
	padding: 0 30px;
}

.post-page .post .content{
	box-shadow:none;
	padding: 0 30px 30px;
}

.post-page .related .post .content{
	box-shadow:none;
	padding: 0 30px 0px;
}

.main h3,
.post-page .content>h3:first-child,
.default-page .content>h3:first-child{
	margin:0 -30px;
	padding: 30px;
	line-height: 22px;
	border-bottom: 1px solid #eee;
	word-break:break-word;
}
.post-page .content h3,
.post-page .comment h3,
.default-page .content h3,
.default-page .comment h3{
	padding: 0px;
	text-transform: uppercase;
}

.content h3 a{
	color:inherit;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.content h3 a:hover{
	color:#49b4ff;
}
.post .content .details:last-child{
	padding-bottom: 30px;
}
.content p,
.post p{
	padding-top: 30px;
	color:#555;
	font-size: 13px;
}
.content p:empty,
.post p:empty{
	padding-top: 0px;
}

.content .row>*:not([class^="col-md"]){
	margin-left:15px;
	margin-right: 15px;
}

.content .btn{
	margin-bottom: 20px;
}
.post a>img{
	max-width: 100%;
}

.post .details{
	padding-top: 30px;
}

.work-post.post .details{
	padding-top: 0;
}

.post .details li{
	padding-right: 20px;
}

.post .details li:last-child{
	padding-right: 0;
}

.post .details a,
.post .details li{
	font-family: "Open Sans";
	color:#aaa;
	font-size: 11px;
}

.post .details a:hover{
	color:#666;
}

.post .details i{
	color:#49b4ff;
	padding-right: 10px;
	font-size: 14px;
}

.post .details i.fa-heart-o,
.post .details i.fa-heart{
	color:#e5451a;
	padding-right: 6px;
}

.post .details i.fa-spinner{
	padding: 0 !important;
}

.post a>img,
.post>img,
.post .slider{
	width: 100%;
	height: auto !important;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
}
.contact-page .map{
	width: 100%;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
}

.post .slider ul{
	padding: 0;
}

.post .slider ul img{
	width:100%;
	height: auto;
}

.post .chat{
	list-style: none;
	padding: 30px;
	padding-bottom: 0px;
	border-bottom: 1px solid #eee;
}

.post .chat h6{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 0;
}

.post .chat .msg{
	padding-top: 0px;
	padding-bottom: 20px;
	margin-top: -20px;
}

.post .chat .msg:before{
	content: "‒";

}

blockquote{
	position: relative;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	padding: 25px 30px;
	border:none;
	margin-bottom: 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.status{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
blockquote:after{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(255,255,255,0);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

blockquote:hover:after{
	background: rgba(255,255,255,0.1);
}

blockquote p,
.post blockquote p{
	color:#fff;
	padding:0;
}

blockquote i,
.post blockquote i{
	padding-right: 10px;
}

blockquote:before{
	content: '“';
	position: absolute;
	top:2px;
	left:0;
	font-size: 200px;
	line-height: 135px;
	color:rgba(255,255,255,0.2);
}

blockquote.link:before{
	content: '\f0c1';
	font-family: "FontAwesome";
	top:-9px;
	font-size: 112px;
	left:1px;
}

.status blockquote:before{
	content: '\f0a1';
	font-family: "FontAwesome";
	top:-16px;
	font-size: 112px;
	left:2px;
}

blockquote footer,
blockquote footer a,
.status blockquote a{
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
	font-family: "Open Sans";
	background-color: transparent;
	color: #fff;
	width: 100%;
	word-break:break-all;
	position: relative;
	z-index: 10;
	padding-top: 20px;
	display: block;
}

blockquote footer a:hover{
	color: #fff;
	text-decoration: underline;
}

blockquote footer:before{
	content:none;
}

.post .slider{
	position: relative;
}

.post .slider .controls{
	position: absolute;
	z-index: 100;
	top:50%;
	width:100%;
	margin-top: -20px;
	opacity: 0;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.post .slider:hover .controls{
	opacity: 1;
}

.post .slider .controls .prev,
.post .slider .controls .next{
	display: inline-block;
	position: relative;
	padding:0;
	width: 40px;
	height: 40px;
	text-align: center;
	color:#fff;
	padding-top: 2px;
	font-size: 24px;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.post .slider .controls .prev a,
.post .slider .controls .next a{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width: 40px;
	height: 40px;
}

.post .slider .controls .prev{
	float: left;
}

.post .slider .controls .next{
	float: right;
}

.post .slider .controls .prev:hover,
.post .slider .controls .next:hover{
	background: rgba(255,255,255,0.3);
}

.post .slider .bx-controls{
	position: absolute;
	bottom: 0;
	height: 35px;
	margin-bottom: 0;
	background: transparent;
	text-align: center;
	width: 100%;
}

.post .slider .bx-has-pager{
	z-index: 100;
}

.post .slider .bx-pager-link{
	background: rgba(255,255,255,0.5);
}

.post .slider .bx-pager-link:hover,
.post .slider .bx-pager-link.active{
	background: #fff;
}

.post .slider .bx-caption{
	position: absolute;
	bottom: 10px;
	left:10px;

	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	font-family: "Montserrat";
	color: #fff;
}

.post .slider  .bx-caption span{
	color: #fff !important;
}
.post .audio .controls,
.related .audio .controls{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.post .audio .controls:nth-child(3),
.related .audio .controls:nth-child(3){
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.post-page .audio .controls,
.post-page audio,
.work-page .audio .controls,
.work-page audio{
	height: 60px;
}

.blog-page .audio .controls,
.blog-page audio,
.archive-result .audio .controls,
.archive-result audio,
.related .audio .controls,
.related audio{
	height:40px;
}

.post .audio .controls .playpause{
	background-color: #333;
	height: 100%;
	display: block;
	float:left;
	text-align: center;
	cursor: pointer;
}
.post .audio .controls:nth-child(3) .playpause{
	border-top-left-radius: 3px;
}

.post .audio .controls .playpause i{
	font-size: 10px;
	color: #fff;
}

.blog-page .post .audio .controls .playpause,
.archive-result .post .audio .controls .playpause,
.post-page .related .post .audio .controls .playpause{
	width: 40px;
	padding-top: 8px;
}

.post-page .audio .controls .playpause,
.work-page .audio .controls .playpause{
	width: 60px;
	padding-top: 18px;
}

.audio .controls .progress,
.post-page .related .audio .controls .progress{
	width:100%;
	height: 100%;
	background-color: #333;
	display: block;
	margin-left: 40px;
	margin-right: 90px;
	padding: 10px 0;
	border-radius: 0;
	overflow: visible;
}

.post-page .audio .controls .progress,
.work-page .audio .controls .progress{
	padding: 0;
	margin-left: 60px;
	margin-right: 200px;
}

.audio .controls .total{
	background-color: #444;
	display: block;
	width: 100%;
	height:100%;
}

.audio .controls .buffered{
	background-color: #555;
	display: block;
	width: 0;
	height:100%;
}

.audio .controls .current{
	background-color: #49b4ff;
	display: block;
	width: 0;
	height:100%;
}

.blog-page .post .audio .controls .time,
.archive-result .post .audio .controls .time,
.post-page .related .post .audio .controls .time{
	display: none;
}

.post-page .post .audio .controls .time .currenttime,
.post-page .post .audio .controls .time .duration,
.work-page .post .audio .controls .time .currenttime,
.work-page .post .audio .controls .time .duration{
	font-family: "Open Sans";
	font-size: 11px;
	color: #fff;
}

.post-page .post .audio .controls .time .currenttime,
.work-page .post .audio .controls .time .currenttime{
	position: absolute;
	left:80px;
	top:20px;
}

.post-page .post .audio .controls .time .duration,
.work-page .post .audio .controls .time .duration{
	position: absolute;
	right:220px;
	top:20px;
}

.audio .controls .volume,
.post-page .related .audio .controls .volume{
	background-color: #333;
	display: inline-block;
	float: right;
	height:100%;
	border-top-right-radius: 3px;
}

.blog-page .audio .controls .volume,
.archive-result .audio .controls .volume,
.post-page .related .audio .controls .volume{
	width: 90px;
	padding: 10px 15px;
}

.post-page .audio .controls .volume,
.work-page .audio .controls .volume{
	width: 200px;
	padding: 20px 25px;
}

.audio .controls .volume .mute{
	font-size: 12px;
	color: #fff;
	padding-right: 10px;
	display: inline-block;
	cursor: pointer;
}

.blog-page .audio .controls .volume .totalvolume,
.archive-result .audio .controls .volume .totalvolume,
.post-page .related .audio .controls .volume .totalvolume{
	width:37px;
	height: 50%;
	margin-top: 5px;
	background-color: #444;
	display: inline-block;
}

.post-page .audio .controls .volume .totalvolume,
.work-page .audio .controls .volume .totalvolume{
	width:128px;
	height: 6px;
	margin-bottom: 2px;
	background-color: #444;
	display: inline-block;
}

.audio .controls .volume .currentvolume{
	background-color: #49b4ff;
	display: block;
	width: 0;
	height:100%;
}

.content table,
.comment table{
	margin-top: 20px;
	font-family: 'Open Sans';
}
.content thead,
.comment thead{
	background-color: #eee;
}
.content tr,
.comment tr{
	border: 1px solid #ddd;
}
.content td,.content th,
.comment td,.comment th{
	padding:10px 15px;
	border-right: 1px solid #ddd;
}

dl{
	margin-top: 20px;
	margin-bottom: 0;
	font-family: 'Open Sans';
}
dt{
	float: left;	
}
dd{
	padding-bottom: 10px;
}
dd:before{
	content: "\00a0– ";
}
.post-page .content ul:not(.list-inline) li>ul,
.post-page .content ol:not(.list-inline) li>ol,
.post-page .comment ul:not(.list-inline) li>ul,
.post-page .comment ol:not(.list-inline) li>ol{
	padding-top: 0;
}


/**********************
******9. WP Widgets***
**********************/
aside select{
	width:100%;
}
.widget h6{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0;
}

aside .widget,
footer .widget{
	margin-bottom: 25px;
}
footer .footer_bottom .widget{
	margin-bottom: 0px;
}

aside .widget:last-child{
	margin-bottom: 0;
}

.banner{
	width:100%;
}

footer.dark .widget h6{
	color:#fff;
}

.widget .input-group{
	margin:0 -30px;
	padding: 0 30px;
	margin-bottom: 25px;
}

aside .widget:first-child .input-group{
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}

footer .widget .input-group{
	border-bottom: none;
	margin-bottom: 0;
}
.widget .input-group-addon{
	padding: 0;
	margin:0;
}
.widget .input-group button{
	width:40px;
	height: 40px;
	border:none;
	padding: 0 14px;
}
.widget .input-group button:focus{
	outline:none;
}

footer.light .widget .input-group-addon button, 
footer.light .widget .input-group-btn button{
	color: #aaa;
	background-color: #eee;
}
footer.dark .widget .input-group-addon button, 
footer.dark .widget .input-group-btn button{
	color: #aaa;
	background-color: #eee;
}
aside .widget .input-group-addon button, 
aside .widget .input-group-btn button{
	color: #aaa;
	background-color: #eee;
}
footer.light .widget .input-group-addon button:hover, 
footer.light .widget .input-group-btn button:hover{
	color: #fff;
	background-color: #49b4ff;
}
footer.dark .widget .input-group-addon button:hover, 
footer.dark .widget .input-group-btn button:hover{
	color: #fff;
	background-color: #49b4ff;
}
aside .widget .input-group-addon button:hover, 
aside .widget .input-group-btn button:hover{
	color: #fff;
	background-color: #49b4ff;
}
.widget .form-control::-moz-placeholder {
  color: #aaa;
  font-size: 13px;
  font-family: "Open Sans";
  opacity: 1;
}
.widget .form-control:-ms-input-placeholder {
  color: #aaa;
  font-size: 13px;
  font-family: "Open Sans";
  opacity: 1;
}
.widget .form-control::-webkit-input-placeholder {
  color: #aaa;
  font-size: 13px;
  font-family: "Open Sans";
  opacity: 1;
}
.widget_slider ul{
	margin: 0;
	padding: 0;
}

.widget_slider li{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.widget_slider img{
	width: 100%;
	height: auto;
	position: relative;
	z-index: -2;
}

.widget_slider .bx-caption{
	position: absolute;
	bottom: 10px;
	left:10px;

	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	font-family: "Montserrat";
	color: #fff;
}

.widget_slider .bx-caption span{
	color: #fff !important;
}

.widget_slider .bx-controls{
	height: 35px;
	margin-bottom: 25px;
	background: #eee;
}

footer.dark .widget_slider .bx-controls{
	background: #333;
}

.widget_slider .bx-pager,
.slider .bx-pager{
	text-align: center;
}

.widget_slider .bx-pager-item,
.slider .bx-pager-item{
	display: inline-block;
	position: relative;
}

.widget_slider .bx-pager-link,
.slider .bx-pager-link{
	background-color: #ddd;
	width: 7px;
	height: 7px;
	display: block;
	font-size: 0;
	margin:0 4px 0;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

footer.dark .widget_slider .bx-pager-link{
	background-color: #444;
}

.widget_slider .bx-pager-link:hover,
.widget_slider .bx-pager-link.active{
	background-color: #49b4ff;
}

footer.dark .widget_slider .bx-pager-link:hover,
footer.dark .widget_slider .bx-pager-link.active{
	background-color: #49b4ff;
}

.flickr{
	margin:0 -8px 16px;
}

.flickr a,
.flickr img{
	width: 40px;
	height: 40px;
	display: inline-block;
}

.flickr a{
	margin:5px 5px;
}

.widget .small-post{
	margin-bottom: 25px;
	overflow: hidden;
}
.widget .small-post:last-child{
	margin-bottom: 0px;
}
.widget:last-child .small-post:last-child{
	margin-bottom: 0px;
}

footer.dark .widget .small-post{
	color:#aaa;
}
footer.light .widget .small-post{
	color:#aaa;
}

footer.dark .widget .small-post a{
	color:#ccc;
}
footer.light .widget .small-post a{
	color:#555;
}

footer.dark .widget .small-post a:hover{
	color:#fff;
}
footer.light .widget .small-post a:hover{
	color:#222;
}

.widget .small-post a:first-child{
	display: inline-block;
	float: left;
}

.widget .small-post img,
.widget .small-post .img{
	float:left;
	width:45px;
	height:45px;
	max-width: 100%;
	max-height: 100%;
	margin-right: 20px;
	margin-top: 4px;
	text-align: center;
}

.widget .small-post p{
	font-size: 13px;
	line-height: 16px;
	color: #555;
	margin-top: 0px;
}

footer.dark .widget .small-post p{
	color: #aaa;
}

.widget .small-post i,
.widget .small-post span{
	font-size: 14px;
	color:#fff;
}
.widget .small-post span{
	padding-top: 12px;
}

.widget .small-post .post-date{
	font-size: 12px;
	color:#aaa;
}

footer.dark .widget .small-post .post-date{
	color:#888;
}

.widget .small-post:hover p{
	color: #222;
}

footer.dark  .widget .small-post:hover p{
	color: #fff;
}

.twitter{
	margin-bottom: 15px;
}

.widget_categories ul,
.widget_pages ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_meta ul,
#recentcomments,
.widget_recent_entries ul{
	list-style: none;
	padding: 0;
}

.widget_categories ul,
.widget_pages ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_meta ul,
#recentcomments,
.widget_recent_entries ul{
	margin-top: -8px;
}

.widget_categories li,
.widget_pages li,
.widget_archive li,
.widget_nav_menu li,
.widget_meta li,
.widget_categories li a,
.widget_pages li a,
.widget_archive li a,
.widget_nav_menu li a,
.widget_meta li a,
#recentcomments li,
.widget_recent_entries li a{
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.widget_categories a,
.widget_pages a,
.widget_archive a,
.widget_nav_menu a,
.widget_meta a,
.widget_recent_entries a,
#recentcomments li{
	position: relative;
	display: inline-block;
	font-size: 13px;
	padding: 7px;
	padding-left: 0;
}
.widget_pages a,
.widget_nav_menu a,
.widget_meta a,
.widget_recent_entries a,
#recentcomments li{
	width: 100%;
}

footer.light .widget_categories a,
footer.light .widget_categories li,
footer.light .widget_pages a,
footer.light .widget_archive a,
footer.light .widget_archive li,
footer.light .widget_nav_menu a,
footer.light .widget_meta a,
footer.light .widget_recent_entries a,
footer.light #recentcomments li{
	color:#555;
}

aside .widget_categories a,
aside .widget_categories li,
aside .widget_pages a,
aside .widget_archive a,
aside .widget_archive li,
aside .widget_nav_menu a,
aside .widget_meta a,
aside .widget_recent_entries a,
aside #recentcomments a{
	color:#555;
}

footer.dark .widget_categories a,
footer.dark .widget_categories li,
footer.dark .widget_pages a,
footer.dark .widget_archive a,
footer.dark .widget_archive li,
footer.dark .widget_nav_menu a,
footer.dark .widget_meta a,
footer.dark .widget_recent_entries a,
footer.dark #recentcomments a{
	color:#aaa;
}

.widget_categories a:before,
.widget_pages a:before,
.widget_archive a:before,
.widget_nav_menu a:before,
.widget_meta a:before,
.widget_recent_entries a:before,
#recentcomments li:before{
	content:'•';
	position: relative;
	color:#49b4ff;
	font-size: 24px;
	padding-right: 10px;
	top: 4px;
	line-height: 0;
}

.widget_categories li:hover,
.widget_pages li:hover,
.widget_archive li:hover,
.widget_nav_menu li:hover>a,
.widget_meta li:hover,
.widget_recent_entries li:hover,
#recentcomments li:hover{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
}


aside .widget_categories li:hover,
aside .widget_pages li:hover,
aside .widget_archive li:hover,
aside .widget_nav_menu li:hover>a,
aside .widget_meta li:hover,
aside .widget_recent_entries li:hover,
aside #recentcomments li:hover{
	background-color: #eee;
}

footer.light .widget_categories li:hover,
footer.light .widget_pages li:hover,
footer.light .widget_archive li:hover,
footer.light .widget_nav_menu li:hover>a,
footer.light .widget_meta li:hover,
footer.light .widget_recent_entries li:hover,
footer.light #recentcomments li:hover{
	background-color: #eee;
}

footer.dark .widget_categories li:hover,
footer.dark .widget_pages li:hover,
footer.dark .widget_archive li:hover,
footer.dark .widget_nav_menu li:hover>a,
footer.dark .widget_meta li:hover,
footer.dark .widget_recent_entries li:hover,
footer.dark #recentcomments li:hover{
	background-color: #555;
}

.widget_categories li:hover a,
.widget_pages li:hover a,
.widget_archive li:hover a,
.widget_nav_menu li:hover a,
.widget_meta li:hover a,
.widget_recent_entries li:hover a,
#recentcomments li:hover{
	padding-left: 10px;

	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
}

aside .widget_categories li:hover a,
aside .widget_pages li:hover a,
aside .widget_archive li:hover a,
aside .widget_nav_menu li:hover>a,
aside .widget_meta li:hover a,
aside .widget_recent_entries li:hover a,
aside  #recentcomments li:hover{
	color: #222;
}
footer.light .widget_categories li:hover a,
footer.light .widget_pages li:hover a,
footer.light .widget_archive li:hover a,
footer.light .widget_nav_menu li:hover>a,
footer.light .widget_meta li:hover a,
footer.light  .widget_recent_entries li:hover a,
footer.light  #recentcomments li:hover a{
	color: #222;
}
footer.dark .widget_categories li:hover a,
footer.dark .widget_pages li:hover a,
footer.dark .widget_archive li:hover a,
footer.dark .widget_nav_menu li:hover>a,
footer.dark .widget_meta li:hover a,
footer.dark .widget_recent_entries li:hover a,
footer.dark #recentcomments li:hover a{
	color: #aaa;
}

.widget_categories select,
.widget_archive select{
	display: block;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #eee;
	border: none;
	box-shadow: none;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.widget_categories select option{
	padding: 13px 18px;
}

.widget_nav_menu .sub-menu{
	display: inline-block;
	position: relative;
	top: auto;
	left: auto;
	z-index: 0;
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	border: none;
	background-color: transparent;
	margin-left: 0 !important;
	padding-left: 15px;
}
.widget_nav_menu .sub-menu a{
	border-top: none;
}
#wp-calendar{
	width:100%;
	position: relative;
}
#wp-calendar caption{
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Montserrat";
}

footer.dark #wp-calendar caption{
	color:#fff;
}

#wp-calendar thead th{
	color: #aaa;
	font-size: 10px;
	text-align: center;
	padding: 6px 0;
	font-family: "Open Sans", sans-serif;
	width: 14.2857%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

footer.dark #wp-calendar thead th{
	color: #ccc;
}

#wp-calendar tbody td{
	color: #666;
	font-size: 11px;
	text-align: center;
	padding: 6px 0;
	font-family: "Open Sans", sans-serif;
	width: 14.2857%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

footer.dark #wp-calendar tbody td{
	color: #aaa;
}

#wp-calendar tbody td a{
	color:#49b4ff;
	font-weight: 700;
}

#wp-calendar #prev,
#wp-calendar #next{
	position: absolute;
	top:2px;
	font-size: 11px;
}

#wp-calendar  tfoot .pad{
	display: none;
}

#wp-calendar #prev a,
#wp-calendar #next a{
	color: #aaa;
}

footer.dark #wp-calendar #prev a,
footer.dark #wp-calendar #next a{
	color: #888;
}

#wp-calendar #prev{
	left:10px;
}

#wp-calendar #next{
	right:10px;
}

.widget_nav_menu .menu li>a, 
.widget_nav_menu .menu .sub-menu li>a{
	display: block;
	font-size: 13px;
	font-weight: 400;
	padding: 5px 8px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: none;
}

.widget_nav_menu .sub-menu {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 10px;
}

.widget_nav_menu .menu-item-has-children:hover{
	background-color: transparent;
}

.tagcloud>a{
	display: inline-block;
	font-size: 12px !important;
	padding: 3px 7px;
	margin-bottom: 3px;
	margin-left: 0px;
	border:1px solid #ddd;
	color:#555;
	background-color: transparent;

	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-o-transition: all 0.5s;
}
.content .tagcloud{
	margin-top: 30px;
	margin-left: -15px;
	float: left;
}
.content .tagcloud>a{
	margin-right: 3px;
}


footer.dark .tagcloud>a{
	border:1px solid #888;
	color:#aaa;
}
footer.light .tagcloud>a{
	border:1px solid #aaa;
	color:#888;
}

.tagcloud>a:hover{
	background-color: #49b4ff;
	color: #fff;
	border:1px solid #49b4ff;
	
	transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
}

footer.dark .tagcloud>a:hover{
	background-color: #49b4ff;
	color: #fff;
	border:1px solid #49b4ff;
}
footer.light .tagcloud>a:hover{
	background-color: #49b4ff;
	color: #fff;
	border:1px solid #49b4ff;
}

.textwidget{
	color: #555;
	font-size: 13px;
}

footer.dark .textwidget{
	color: #aaa;
}

.widget_social{
	display: inline-block;
}
.widget_social ul{
	text-align: left;
	display: inline-block;
	list-style: none;
}
.footer-bottom .widget_social ul{
	text-align: center;
}
.widget_social  li a{
	display: block;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	margin-right: 3px;
	margin-bottom: 3px;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.widget_social  li a:hover{
	background-color: rgba(255,255,255,0.1);
}
.widget_social  li a i{
	color:#fff;
	font-size: 14px;
}

footer.dark .row > .widget_social  li a{
	background-color: rgba(255,255,255,0.1);
}
footer.dark .row > .widget_social  li a:hover{
	background-color: rgba(255,255,255,0.2);
}

footer.light .row > .widget_social  li a{
	background-color: #eee;
}
footer.light .row > .widget_social  li a:hover{
	background-color: #49b4ff;
}
footer.light .row > .widget_social  li a i{
	color:#888;
}
footer.light .row > .widget_social  li a:hover i{
	color:#fff;
}

aside .widget_social  li a{
	background-color: #eee;
}
aside .widget_social  li a:hover{
	background-color: #49b4ff;
}
aside .widget_social  li a i{
	color:#888;
}
aside .widget_social  li a:hover i{
	color:#fff;
}

aside{
	padding:30px;
}


/**********************
******10. Blog Post*****
**********************/

.sticky-label{
	display: inline-block;
	color: #fff;
	background-color: #49b4ff;
	position: absolute;
	top: 0;
	left: 30px;
	padding: 2px 6px;
	text-transform: uppercase;
}
.sticky-label p {
	padding-top: 0;
	color: #fff;
	font-size: 11px;
}

.post-categories{
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.post-categories p{
	padding-top: 10px !important;
}
.post-categories a{
	color:#555;
}
.post-categories a:hover{
	color:#49b4ff;
}

.post-page .post-nav{
	display: inline-block;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	margin-bottom: 30px;
}

.post-page .post-nav a{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #333;
	font-size: 12px;
	font-family: "Montserrat";
}

.post-page .post-nav-prev{
	border-right: 1px solid #eee;
}

.post-page .post-nav-prev i{
	padding-right: 6px;
}
.post-page .post-nav-next i{
	padding-left: 6px;
}

.post-page .post-nav-prev,
.post-page .post-nav-next{
	display: block;
	float: left;
	width: 50%;
	text-align: center;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.post-page .prev-title,
.post-page .next-title{
	display: block;
	position: absolute;
	opacity:0;
	padding: 4px;
	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.6);
	margin-left: 15px;
	margin-right: 15px;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.post-page .prev-title{
	top: -20px;
	left: 0;
}

.post-page .next-title{
	top: -20px;
	right: 0;
}
.post-page .post-nav-prev:hover .prev-title,
.post-page .post-nav-next:hover .next-title{
	opacity: 1;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.post-page .content>p{
	padding-top: 20px;
}

.post-page .content h4{
	padding-top: 35px;
}
.post-page .content h4.panel-title{
	padding-top: 0px;
}

.post-page .content h1,
.post-page .content h2,
.post-page .content h3,
.default-page .content h1,
.default-page .content h2,
.default-page .content h3,
.post-page .comment .comment_content h1,
.post-page .comment .comment_content h2,
.post-page .comment .comment_content h3,
.default-page .comment .comment_content h1,
.default-page .comment .comment_content h2,
.default-page .comment .comment_content h3{
	padding-top: 35px;
}
.post-page .content h4:not(.panel-title),
.post-page .content h5,
.post-page .content h6,
.default-page .content h4:not(.panel-title),
.default-page .content h5,
.default-page .content h6,
.post-page .comment .comment_content h4:not(.panel-title),
.post-page .comment .comment_content h5,
.post-page .comment .comment_content h6,
.default-page .comment .comment_content h4:not(.panel-title),
.default-page .comment .comment_content h5,
.default-page .comment .comment_content h6{
	padding-top: 20px;
}
.post-page .content h3,
.post-page .comment h3,
.default-page .content h3,
.default-page .comment h3{
	margin: 0;
	padding-bottom: 0;
	border:none;
}
.post-page .content ul:not(.list-inline),
.post-page .comment ul:not(.list-inline),
.default-page .content ul:not(.list-inline),
.default-page .comment ul:not(.list-inline){
	list-style: none;
	padding-top: 20px;
}
.post-page .content ol:not(.list-inline),
.post-page .comment ol:not(.list-inline),
.default-page .content ol:not(.list-inline),
.default-page .comment ol:not(.list-inline){
	padding-top: 20px;
	list-style-type: none;
    counter-reset: ol-counter;
}

.post-page .content ul:not(.list-inline) li,
.post-page .content ol:not(.list-inline) li,
.post-page .comment ul:not(.list-inline) li,
.post-page .comment ol:not(.list-inline) li,
.default-page .content ul:not(.list-inline) li,
.default-page .content ol:not(.list-inline) li,
.default-page .comment ul:not(.list-inline) li,
.default-page .comment ol:not(.list-inline) li{
	padding: 3px;
}

.post-page .content ul:not(.list-inline)>li:before,
.default-page .content ul:not(.list-inline)>li:before{
	content:'•';
	position: relative;
	color:#49b4ff;
	font-size: 24px;
	padding-right: 10px;
	top: 4px;
	line-height: 0;
}

.post-page .comment ul:not(.list-inline):not(.children)>li:before,
.default-page .comment ul:not(.list-inline):not(.children)>li:before{
	content:'•';
	position: relative;
	color:#49b4ff;
	font-size: 24px;
	padding-right: 10px;
	top: 4px;
	line-height: 0;
}

.post-page .content ol:not(.list-inline)>li:before,
.post-page .comment ol:not(.list-inline)>li:before,
.default-page .content ol:not(.list-inline)>li:before,
.default-page .comment ol:not(.list-inline)>li:before{
	position: relative;
	font-size: 14px;
	padding-right: 10px;
 
    content: counter(ol-counter);
    counter-increment: ol-counter;
}

.post-page .content blockquote,
.post-page .comment blockquote,
.default-page .content blockquote,
.default-page .comment blockquote{
	box-shadow: none;
	background-color: #fff;
	border:1px solid #eee;
	margin:20px 15px 0;
	padding:25px 25px 25px 50px !important;
}
.post-page .content blockquote p,
.post-page .comment blockquote p,
.default-page .content blockquote p,
.default-page .comment blockquote p{
	color:#000;
	text-transform: none;
	font-weight: 400;
	padding-bottom: 0;
	font-style: italic;
}
.post-page .content blockquote:before,
.post-page .comment blockquote:before,
.default-page .content blockquote:before,
.default-page .comment blockquote:before {
	content: '“';
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 24px;
	line-height: 24px;
	color: rgba(0,0,0,0.2);
}

.share{
	float:right;
	padding-top: 30px;
}

.share p{
	padding:5px 10px 0 0;
	float:left;
}
.post .share p{
	padding-top: 5px;
}

.share ul{
	float:left;
}

.share ul a{
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 5px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.share ul a:after{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	content: '';

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.share ul a:hover:after{
	background: rgba(255,255,255,0.15);
}

.share ul i{
	color:#fff;
}

.contact-page h3,
.archive-page h3,
.comment-respond h3{
	border-bottom: none;
}

.comments ul{
	list-style: none;
	padding-left: 0;
}

.comments>ul{
	margin:0 -30px;
	padding: 30px 30px 0;
	border-bottom: 1px solid #eee;
}

.comment ul{
	padding-left: 30px;
}

.comment img{
	float: left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.comment .info{
	padding-left: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

.comment .info h5{
	padding-bottom: 5px;
}

.comment p{
	padding: 0;
}

.comment .date{
	font-size: 11px;
	padding-bottom: 5px;
	color:#aaa;
}

.comment .date a{
	color:#49b4ff;
	padding-left: 3px;
}

.comment .date a:hover{
	color:#444;
}

.comment .date a:before{
	content:"·";
	padding-right: 3px;
}

.comments .form-control{
	border-radius: 3px;
}
.comments .form-allowed-tags,
.comments .comment-notes,
.comments .form-submit{
	display:none;
}
.comments .logged-in-as{
	padding-bottom: 10px;
	margin-top: -25px;
	font-size: 11px;
	color:#666;
}
.post-page .related .post{
	background-color: #fff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
}

.comments .btn{
	margin-bottom: 30px;
}

/**********************
******11. Work****
**********************/

.work-page .post .content{
	padding-bottom: 30px;
}
.work-page .post .content h3{
	text-align: center;
}
.client i{
	color:#49b4ff;
	padding-right: 10px;
}
.work-page .post .content .client{
	text-align: center;
}
p.client, .client a{
	font-size: 11px;
	color: #888;
}

.client a:hover{
	color: #555;
}

.main .work h3{
	border:none;
	margin:0;
	padding: 0;
}



/**********************
******12. Contact*****
**********************/

.contact-page .map iframe,
.contact-page .map{
	width: 100%;
	height:360px;
}

.contact-page .content p{
	padding-top: 0;
}

#contact:first-child{
	margin-top: 20px;
}

#contact .row,
#commentform .row{
	margin-bottom: 20px;
}

#contact .alert{
	display: none;
	margin-top: 20px;
}

#contact .btn{
	display: block;
	margin-top: 20px;
	margin-bottom: 0;
}
#commentform .btn{
	display: block;
	margin-top: 20px;
}
#contact label,
#commentform label{
	font-family: "Montserrat";
	font-size: 12px;
	color:#e12727;
	font-weight: 400;
	margin-top: -10px;
}

/**********************
******13. Archive*****
**********************/

ul.archive {
	list-style: none;
	padding-left: 0;
	margin-top: -10px;
}

ul.archive li{
	margin-bottom: 1px;
}

ul.archive li a{
	display: block;
	background-color: #eee;
	font-size: 13px;
	color:#888;
	font-family: "Open Sans";
	padding:12px;

	transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
}

ul.archive li:hover a{
	background-color: #ddd;

	transition: all 0.1s;
  	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
}

ul.archive li:hover a i{
	padding-left: 10px;
	color:#49b4ff;

	transition: all 0.1s;
  	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
}

ul.archive li a i{
	padding-right: 10px;

	transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
}

.archive-result .content h3{
	padding-bottom: 0;
	border-bottom: none;
}


/**********************
******14. Countdown*****
**********************/

#countdown,
.countdown_row{
	width:100%;
	background-color: #ffd510;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius:  3px 3px 0 0;
	border-radius:  3px 3px 0 0;
}

#countdown{
	padding:100px 200px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
}

#countdown .countdown_section{
	width:25%;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color:#2a2a2a;
	font-family: "Open Sans";
	text-transform: uppercase;
}

#countdown .countdown_amount{
	font-family: "Open Sans";
	font-size: 100px;
	color:#2a2a2a;
	font-weight: inherit;
	display: block;
}

#countdown .countdown_section:nth-child(1){
	font-weight: 700;
}

#countdown .countdown_section:nth-child(2){
	font-weight: 600;
}

#countdown .countdown_section:nth-child(3){
	font-weight: 400;
}

#countdown .countdown_section:nth-child(4){
	font-weight: 300;
}

.countdown-page .info{
	padding:50px 200px 100px;
}

.countdown-page .info h3{
	text-transform: none;
	border-bottom: none;
	padding-bottom: 0;
}

.countdown-page .info p{
	padding-top: 10px;
	font-size: 14px;
}

/**********************
******15. Shortcodes****
**********************/

.shortcode-page .post .row{
	margin-bottom: 20px;
}

.shortcode-page h3{
	margin-bottom: 20px;
}

.shortcode-page .btn{
	margin-bottom: 5px;
}

/**********************
******16. 404****
**********************/
.error404.main{
	text-align: center;
	color:#444;
}

.error404.main h1{
	font-size: 200px;
	line-height: 145px;
	font-family: "Montserrat";
	font-weight: normal;
	margin-bottom: 40px;
	margin-top: 160px;
}

.error404.main h2{
	font-size: 40px;
	line-height: 30px;
	font-family: "Montserrat";
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.error404.main .btn{
	margin-top: 100px;
	margin-bottom: 40px;
}



/**********************
******17. Media Queries***
**********************/
@media (min-width: 320px) and (max-width: 767px) {

	html,body{
	    width: 100%;
	    margin: 0px;
	    padding: 0px;
	    overflow-x: hidden; 
	}

	.home-slider .controls{
		display: none;
	}

	#responsive-menu-button{
		display: block;
		position: absolute;
		top:0px;
		right: 20px;
	}

	.menu{
		display: none;
		position:absolute;
		top:20px;
		right: 60px;
		width:80%;
		background-color: #fff;
		-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
		padding-top: 0;
		z-index: 110;
	}

	.menu li{
		display: block;
		text-align: left;
	}

	.menu .menu-item-has-children .sub-menu{
		display: block;
		position: relative;
		box-shadow: none;
		width: 100%;
		left:0;
		margin-left: 0;
	}

	.menu .sub-menu:before{
		content:"";
		font-family: "FontAwesome";
	}

	.sub-menu li{
		display: block;
		width: 100%;
		text-align: left;
		padding: 0 15px;
	}

	header p {
		padding: 20px 20px 30px;
	}

	footer img,
	footer ul,
	footer p{
		display: block;
		float: none;
		margin:5px auto;
	}

	.grid>li{
		width: 100%;
	}

	#contact .col-sm-12 {
		margin-bottom: 20px;
	}

	#contact .row {
		margin-bottom: 0px;
	}

	#countdown{
		padding:10px 20px 40px;
	}

	#countdown .countdown_section{
		width:50%;
	}

	.countdown-page .info {
		padding: 30px;
	}
}

@media (min-width: 320px) and (max-width: 991px)  {

	html,body{
	    width: 100%;
	    margin: 0px;
	    padding: 0px;
	    overflow-x: hidden; 
	} 
	#menu-button {
		display: none;
	}

	.filters li {
		display: inline-block;
	}

	.filters ul {
		opacity: 1;
		max-height: 100%;
	}

	.filters:before {
		width: 100% !important;
	}
}

@media (min-width: 768px) and (max-width: 1199px)  {
	.post .details li {
		padding-right: 10px;
	}

	.post .details i {
		padding-right: 3px;
	}
	.small-post img {
		margin-right: 15px;
	}

	#twitter-widget-0{
		width:100%;
		max-width: 100% !important;
		min-width: 100% !important;
	}

	.small-post p {
		font-size: 11px;
		line-height: 14px;
	}

@media (min-width: 768px) and (max-width: 991px) {
	
	.home-slider .controls{
		margin-left: -360px;
	}
	.home-slider .controls .next {
		margin-left: 560px;
	}

	#countdown {
		padding: 100px 100px;
	}

	.countdown-page .info {
		padding: 50px 100px 100px;
	}

	#contact .col-sm-12 {
		margin-bottom: 20px;
	}

	#contact .row {
		margin-bottom: 0px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.home-slider .controls{
		margin-left: -470px;
	}
	.home-slider .controls .next {
		margin-left: 780px;
	}
}

@media (min-width: 1200px) {

}